<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Users</title>
</head>
<body>
  {% if users %}
    <table>
      <thead>
        <tr>
          <th>Last Name</th>
          <th>First Name</th>
          <td>Email</td>
        </tr>
      </thead>

      <tbody>
        {% for user in users %}
          <tr>
            <td>{{ user.last_name }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.email }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No users found.</p>
  {% endif %}
</body>
</html>